<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="js">
    <script th:src="@{/assets/user/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/user/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/user/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/assets/user/js/jquery-ui.min.js}"></script>
    <script th:src="@{/assets/user/js/mixitup.min.js}"></script>
    <script th:src="@{/assets/user/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/user/js/jquery.slicknav.js}"></script>
    <script th:src="@{/assets/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/user/js/jquery.nicescroll.min.js}"></script>
    <script th:src="@{/assets/user/js/main.js}"></script>
</div>
</body>
</html>