<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/assets/stylelogin.css}">
</head>
<head th:replace="~{/user/fragments/head :: head}"></head>
<body>
<div th:replace="~{/user/fragments/header :: header}"></div>
<section class="ftco-section">
    <div class="container">

        <div class="row justify-content-center" th:if="${isDisplayLogin}">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user-o"></span>
                    </div>
                    <h3 class="text-center mb-4">Bạn Đã Có Tài Khoản ?</h3>
                    <form th:action="@{/signin}" method="post" class="login-form">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control rounded-left" placeholder="Email" required>
                        </div>
                        <div class="form-group d-flex">
                            <input type="password" name="password" class="form-control rounded-left" placeholder="Password" required>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">Nhớ tài khoản
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a th:href="@{/forgotpassword}">Quên Mật Khẩu</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Đăng Nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" th:if="${isDisplayRegister}">
            <div class="col-md-6 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user-o"></span>
                    </div>
                    <h3 class="text-center mb-4">Tạo Tài Khoản</h3>
                    <form th:action="@{/signup}" method="post" class="login-form">
                        <div class="form-group">
                            <input type="text" name="fullnameSignup" class="form-control rounded-left" placeholder="Họ và tên" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="emailSignup" class="form-control rounded-left" placeholder="Email" required>
                        </div>
                        <div class="form-group d-flex">
                            <input type="password" name="passwordSignUp" class="form-control rounded-left" placeholder="Mật khẩu" required>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50"></div>
                            <div class="w-50 text-md-right">
                                <a th:href="@{/forgotpassword}">Quên Mật Khẩu</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Đăng Ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{/user/fragments/js :: js}"></div>
</body>
</html>

