<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{/admin/index :: dynamic(~{::main})}"
>

<body>
<main>
    <form th:action="@{/admin/rank/update/{id}(id=${rank.id})}" th:object="${rank}" method="post">


        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{rankName}"/>


        <label for="minimumPoints">Số điểm tối thiểu:</label>
        <input type="number" id="minimumPoints" th:field="*{minimumPoints}"/>


        <label for="status">Trạng Thái:</label>
        <select id="status" th:field="*{status}">
            <option value="0">0</option>
            <option value="1">1</option>

        </select>


        <input type="submit" value="Update"/>

    </form>

</main>
</body>
</html>