<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../../assets/"
        data-template="vertical-menu-template-no-customizer"
>
<head th:replace="~{/admin/fragments/head :: head}"></head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <div th:replace="~{admin/fragments/menu :: menu}"></div>
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">

            <!-- Navbar -->
            <div th:replace="~{admin/fragments/navbar :: navbar}"></div>
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div th:replace="~{admin/fragments/content :: content}"></div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Link Java script -->
    <div th:replace="~{/admin/fragments/js :: link_js}"></div>
</body>
</html>
